<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">
    <div id="event_list">
      <% if @messages != nil %>
      <% @messages.each do |message| %>
      <%= message.author.first_name %>: <%= message.created_at %> <br>
      <%= message.content %><br>
      <%= link_to "Delete", house_message_path(@house, message), method: :delete,
      data: {confirm: "Are you sure?"}%><br>
      <% end %>
      <% end %>
    </div>
    <div>
      <%= form_for :message, url: house_messages_path(@house)  do |f| %>
        <%= f.text_area :content %>
        <%= f.submit "Post", :class => "button" %>
      <% end %>
    </div>
  </div>
  <div class="large-3 columns"><br /></div>
</div>
