<div class="container">
  <h1>Edit House Information</h1>
  <%= link_to("Delete", house_path(@house), method: :delete) %>

  <%= form_for @house do |f|%>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :house_key %><br>
    <%= f.text_field :house_key %>
  </p>
  <p>
    <%= f.submit "Save Change", :class => "button"  %>
  </p>
  <% end %>

</div>
