<h1><%= @house.name %>!</h1>
<h3><%= link_to "Edit", edit_house_path(@house) %></h3>

<% if @property_manager == nil %>
<%= link_to "Add Property Management Info", new_house_property_manager_path(@house) %>
<% else %>
Your property manager:
<%= @house.property_manager.name %>
<%= link_to "Edit", edit_house_property_manager_path(@house, @property_manager) %>
<% end %>
<br><br>

<div id="messages">
<% if @messages.length != 0 %>
  <h3>Messages:</h3>
  <% @messages.each do |message| %>
  @<%= message.housing_assignment.user.first_name %>: <%= message.content %> <%= link_to("Delete", house_message_path(@house, message), method: :delete) %> <br>
  <% end %>
<% end %>
</div>

<div>
  <h4>New Message</h4>
  <%= form_for :message, url: house_messages_path(@house) do |f| %>
  <%= f.text_area :content %><br><br>
  <%= f.submit "Send Message", :class => "button"  %>
  <% end %>
</div>

<hr>

<%= link_to "Rules", house_rules_path(@house) %>

<hr>
<div id="items">
<% if @items.length != 0 %>
  <h3>Communal Items:</h3>
  <% @items.each do |item| %>
  <%= item.name %>: <strong><%= item.stock_level %></strong>
  <%= link_to("Edit", edit_house_communal_item_path(@house, item)) %> <%= link_to("Delete", house_communal_item_path(@house, item), method: :delete) %> <br>
  <% end %>
<% end %>
</div>
<br>
<%= link_to "Add Communal Item", new_house_communal_item_path(@house) %>

<hr>

<%= link_to "Chores", house_chores_path(@house) %>

<hr>

<%= link_to "Events", house_events_path(@house) %>



