<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">

    <%= form_for :user, url: user_path(@user), method: :patch do |f| %>
    <fieldset>
    <legend>Edit your Information</legend>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Password Confirmation" %><br>
      <%= f.password_field :password_confirmation %>
      <%= f.label :picture %><br>
      <%= f.file_field :avatar %>
      <%= f.submit "Save Change", :class => "button"  %>
    </fieldset>
    <% end %>
  </div>
  <div class="large-3 columns"><br /></div>
</div>

