<%= form_tag("/logout", :controller=>"sessions", :method=>"delete") do %>
  <%= submit_tag "Logout" %>
<% end %>

<% if current_user == @user %>
<h2>Hi, <%= current_user.first_name%>!</h2>
<%= image_tag @user.avatar.url %>

<br><br>

<%= link_to("Edit Your Information", edit_user_path(@user))%>

<br><br>


<% if @user.houses.length != 0 %>
<h4>Your House:</h4>
<% end %>
<% @user.houses.each do |house| %>
<%= house.name %> <%= link_to("Enter", house_messages_path(house)) %><br>
<% end %>

<br><br>

<%= link_to "New House", new_house_path %>
<%end%>

<br><br>

<%= link_to "All Houses", houses_path %>
