
<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">
    <div id="event_list">
      <h4>Events:</h4>
      <% if @events != nil %>
      <% @events.each do |event| %>
      <%= event.user.first_name %>: <%= event.name %> <br>
      Description: <%= event.description %><br>
      Date: <%= event.date%><br>
      <%= link_to "Destroy", house_event_path(@house, event), method: :delete,
      data: {confirm: "Are you sure?"}, :class => "destroy_event"%><br>
      <%= link_to 'Edit', edit_house_event_path(@house, event) %><br><br>
      <% end %>
      <% end %>
    </div>
    <div>
      <h4>New Event</h4>
      <%= render 'events/form' %>
    </div>
  </div>
  <div class="large-3 columns"><br /></div>
</div>
