<div class="row">
  <div class="small-6 large-2 columns"><br></div>
  <div class="small-6 large-8 columns">

    <div id="event_list">
      <h4>Events:</h4>
      <% if @events == nil %>
      <p>Your house has has no events</p>
      <% end %>
      <% if @events != nil %>
      <% @events.each do |event| %>
      <%= event.user.first_name %>: <%= event.name %> <br>
      Description: <%= event.description %><br>
      Date: <%= event.date%><br>
      <%= link_to "Destroy", house_event_path(@house, event), method: :delete,
      data: {confirm: "Are you sure?"}, :class => "destroy_event"%> /
      <%= link_to 'Edit', edit_house_event_path(@house, event) %><br>
      <%= image_tag("issue-mark.png", size: "50x50", class: "issue-mark")%> 
      <%= form_for :issue, url: "/houses/#{@house.id}/events/#{event.id}/issue", html: { class: "event_issue"} do |f| %>
      <%= f.text_area :reason, :placeholder => "Reason" %>
      <%= f.submit "Submit Issue" %>
      <% end %>
      <div class="issue_body">
      <% if event.issues %>
      <% event.issues.each do |issue| %>
      <%= render partial: "issue", locals: { issue: issue } %>
      <% end %>
      <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
    <div>
      <%= render 'events/form' %>
    </div>

  </div>
  <div class="small-12 large-2 columns"><br></div>
</div>
