<div class="container">
  <h1>Edit Communal Item</h1>

  <%= form_for [@house, @item] do |f|%>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label "Stock Level" %>
    <%= f.select :stock_level, options_for_select([["Select One", ""], "high", "low", "out"]) %>
  </p>
  <p>
    <%= f.submit "Save Change" %>
  </p>
  <% end %>
  
</div>