<div class="row">
  <div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">

    <% if @items.length != 0 %>
      <h3>Communal Items:</h3>
      <ol>
      <% @items.each do |item| %>
      <li>
        <%= item.name %>: <strong><%= item.stock_level %></strong><br>
        <% stock_levels = @stock_levels - [item.stock_level] %>
        

        
        <% if item.stock_level != "high" %>
          <% if item.user_promise %>
            <% if item.user_promise.fulfilled == false %>
              <strong><%= @user.first_name %></strong> promise to buy next
              <%= form_for :promise, url: "/houses/#{@house.id}/communal_items/#{item.id}/promise_fulfilled", html: { class: "promise_fulfilled"} do |f| %>
              <%= f.submit "Fulfilled" %>
              <% end %>
            <% end %>
          <% else %>
            <%= form_for :item, url: "/houses/#{@house.id}/communal_items/#{item.id}/#{stock_levels[0]}",  html: { class: "#{stock_levels[0]}"} do |f| %>
            <%= f.submit "#{stock_levels[0]}" %>
            <% end %>
            <%= form_for :item, url: "/houses/#{@house.id}/communal_items/#{item.id}/#{stock_levels[1]}", html: { class: "#{stock_levels[1]}"} do |f| %>
            <%= f.submit "#{stock_levels[1]}" %>
            <% end %>

            <%= form_for :promise, url: "/houses/#{@house.id}/communal_items/#{item.id}/promise", html: { class: "promise"} do |f| %>
            <%= f.submit "I promise to buy next" %>
            <% end %>
          <% end %>
        <% else %>
          <%= form_for :item, url: "/houses/#{@house.id}/communal_items/#{item.id}/#{stock_levels[0]}",  html: { class: "#{stock_levels[0]}"} do |f| %>
          <%= f.submit "#{stock_levels[0]}" %>
          <% end %>
          <%= form_for :item, url: "/houses/#{@house.id}/communal_items/#{item.id}/#{stock_levels[1]}", html: { class: "#{stock_levels[1]}"} do |f| %>
          <%= f.submit "#{stock_levels[1]}" %>
          <% end %>
        <% end %>

        <%= link_to("Edit", edit_house_communal_item_path(@house, item)) %> <%= link_to("Delete", house_communal_item_path(@house, item), method: :delete) %> <br>
        <div>
        <button type="button" class="item_issue">Issue this Communal Item</button><br>
        <%= form_for :issue, url: "/houses/#{@house.id}/communal_items/#{item.id}/issue", html: { class: "item_issue"} do |f| %>
          <%= f.label :reason %>
          <%= f.text_area :reason %>
          <%= f.submit "Submit Issue" %>
        <% end %>
        </div>
        <div class="issue_body">
          <% if item.issues %>
          <% item.issues.each do |issue| %>
            <%= render partial: "issue", locals: { issue: issue } %>
          <% end %>
          <% end %>
        </div>
      <br>
      </li>
      <% end %>
      </ol>
    <% end %>



    <%= form_for :communal_item, url: house_communal_items_path(@house) do |f| %>
    <fieldset>
      <legend>New Communal Item</legend>
      Name: <%= f.text_field :name %>
      Brand: <%= f.text_field :brand %>
      Quantity: <%= f.text_field :quantity %>
      Stock Level:
      <%= f.select :stock_level, options_for_select([ "high", "low", "out"]) %>
      <%= f.submit "New Item", :class => "button"  %>
    </fieldset>
    <% end %>



  </div>
  <div class="large-3 columns"><br /></div>
</div>

