<div>
  <h4>New Communal Item</h4>
  <%= form_for :communal_item, url: house_communal_items_path(@house) do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Brand: <%= f.text_field :brand %><br><br>
  Quantity: <%= f.text_field :quantity %><br><br>
  Stock Level:
  <%= f.select :stock_level, options_for_select([["Select One", ""], "high", "low", "out"]) %>
  <br><br>
  <%= f.submit, "New Item", :class => "button"  %>
  <% end %>
</div>