<div id="chores">
<% if @chores != nil %>
  <h4>Chores: </h4>
  <% @chores.each do |chore| %>
  <%= chore.task %> <br>
    <%= link_to "Destroy", house_chore_path(@house, chore), method: :delete,
    data: {confirm: "Are you sure?"} %><br>
  <%= link_to 'Edit', edit_house_chore_path(@house, chore) %><br>
  <% end %>
<% end %>
</div>
<div>
  <h4>New Chore</h4>
  <%= form_for :chore, url: house_chores_path(@house) do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task %><br><br>
  <%= f.submit "Send Message" %>
  <% end %>
</div>