
<div id="chores">
<% if @chores != nil %>
  <h4>Chores: </h4>
  <% @chores.each do |chore| %>
  <% log = @user.chore_logs.where(chore_id: chore.id ) %>
  <%= chore.task %> <br>
  Completed :<%= chore.chore_logs.size %> <br>
  <%= link_to 'View Log', chores_path(chore) %>
  <%= link_to 'Complete',  chore_chore_logs(chore)%>
  <%= link_to 'Edit', edit_chore_path(chore) %><br>
  <%= link_to "Delete", chores_path(chore), method: :delete,
    data: {confirm: "Are you sure?"} %><br>
  <% end %>
<% end %>
</div>
<div>
  <h4>New Chore</h4>
  <%= form_for :chore, url: house_chores_path(@house) do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task %><br><br>
  <%= f.submit "Add Chore", :class => "button" %>
  <% end %>
</div>

