<div id="messages">
<% if @rules != nil %>
  <h4>Rules:</h4>
  <% @rules.each do |rule| %>
  <%= rule.housing_assignment.user.first_name %>: <%= rule.content %> <br>
    <%= link_to "Destroy", house_rule_path(@house, rule), method: :delete,
    data: {confirm: "Are you sure?"} %><br>
  <%= link_to 'Edit', edit_house_rule_path(@house, rule) %><br>
  <% end %>
<% end %>
</div>
<div>
  <h4>New Rule</h4>
  <%= form_for :rule, url: house_rules_path(@house) do |f| %>
  <%= f.text_area :content %><br><br>
  <%= f.submit "Send Message" %>
  <% end %>
</div>